<mat-accordion class="example-headers-align">

    <div>
        <mat-expansion-panel *ngFor="let server of allServer" hideToggle>
                
            <mat-expansion-panel-header>
                    
                <mat-panel-title>{{server.name}}</mat-panel-title>
            <mat-panel-description class="description">
                    <mat-icon color="primary" *ngIf="server.state">check</mat-icon> 
                    <mat-icon *ngIf="!server.state">warning</mat-icon>
                </mat-panel-description>
                
            </mat-expansion-panel-header>

            <div *ngIf="server.name != 'OMIKRON'; else omikron">
                <p class="simpletext bold red" *ngIf="server.state">ALIVE</p>
                <p class="simpletext bold red" *ngIf="!server.state">ERROR - {{server.eDate}}</p>
            </div>

            <ng-template #omikron>
                <p class="simpletext bold">http://172.16.102.1/DQServer/2.0.0/DQServer.asmx</p>
                <p class="simpletext bold red" *ngIf="server.DQ1">ALIVE</p>
                <p class="simpletext bold red" *ngIf="!server.DQ1">ERROR - {{server.eDate1}}</p>

                <p class="simpletext bold">http://172.16.102.2/DQServer/2.0.0/DQServer.asmx</p>
                <p class="simpletext bold red" *ngIf="server.DQ2">ALIVE</p>
                <p class="simpletext bold red" *ngIf="!server.DQ2">ERROR - {{server.eDate2}}</p>

                <p class="simpletext bold">omikron_searchrecords</p>
                <p class="simpletext bold red" *ngIf="server.SR">ALIVE</p>
                <p class="simpletext bold red" *ngIf="!server.SR">ERROR - {{server.eDateS}}</p>
            </ng-template>

            <mat-action-row>
            </mat-action-row>
        
        </mat-expansion-panel>
    </div>

</mat-accordion>